<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI5GNnz360NDqfaoKgB-vRJNMXMyBP9CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>340935182121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jcholol.projects.FitnessJournal</string>
	<key>PROJECT_ID</key>
	<string>fitnessjournal-f408d</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessjournal-f408d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340935182121:ios:d0306f034768cc03b1d938</string>
</dict>
</plist>